@model InsyranceCompany.Filials

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Филиал</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilialAddress" class="control-label">Адрес</label>
                <input asp-for="FilialAddress" class="form-control" />
                <span asp-validation-for="FilialAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilialPhone" class="control-label">Телефон</label>
                <input asp-for="FilialPhone" class="form-control" />
                <span asp-validation-for="FilialPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно к списку</a>
</div>

