@model InsyranceCompany.Filials

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить филиал?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Адрес
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilialAddress)
        </dd>
        <dt class = "col-sm-2">
            Телефон
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilialPhone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FilialId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно к списку</a>
    </form>
</div>
