@model InsyranceCompany.Contracts

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Контракт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContractId" />
            <div class="form-group">
                <label asp-for="InsuranceTypeId" class="control-label">Вид страхования</label>
                <select asp-for="InsuranceTypeId" class="form-control" asp-items="ViewBag.InsuranceTypeId"></select>
                <span asp-validation-for="InsuranceTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateConclusion" class="control-label">Дата заключения</label>
                <input asp-for="DateConclusion" class="form-control" />
                <span asp-validation-for="DateConclusion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment" class="control-label">Оплата</label>
                <input asp-for="Payment" class="form-control" />
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentId" class="control-label">Агент</label>
                <select asp-for="AgentId" class="form-control" asp-items="ViewBag.AgentId"></select>
                <span asp-validation-for="AgentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label">Слиент</label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно к списку</a>
</div>

